
*.grp
*.cfg
*.log
*.exe
*.bat
*.cache
*.db
Resident Evil Outbreak/textures
Resident Evil Outbreak/autosave.map
Resident Evil Outbreak/autosave_playtest.map
Resident Evil Outbreak/backup.map

Resident Evil Outbreak/newboard.map
Resident Evil Outbreak/ResidentEvil_Data/textures
